@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    text-decoration-color: none;   
    color: #0B6BBF;
}



body {
    font-size: 100%;
    background-image: linear-gradient(to left, #172A5C, #172A73, #1E3282);
    position: relative;
    filter: blur(0px);
}

main {
    position: relative;
}

.ondas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.onda1 {
    animation: moveOnda1 3s ease-in-out infinite alternate;
}
@keyframes moveOnda1 {
    from {
        transform: translateX(-20px);
    }
}

#fotoPerfil {
    flex-wrap: wrap;
    height: 450px;
    margin-top: 200px;
    z-index: 1;
}

#conteudoPrincipal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -60px;
    position: relative;

}

#conteudoPrincipalEscrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    margin-top: 100px;
    align-content: center;
    align-items: center;
    z-index: 1;
}

#TituloDoCV {
    font-family: 'Righteous' cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

#subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

#botaoPrincipal {
    background-color: #ecd6c4;
    width: 185px;
    height: 67px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 3px 2px #0B6BBF;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    
}

#botaoPrincipal:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
    transition: all 0.3s ease-in;
  }

.conteudoSecundario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-around;
    
}

.divConteudoSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 10px;
}

.sectionConteudoSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
}


#tituloSecundario {
    border-top: 1px solid #fff2e7;
    padding-top: 50px;
    font-family: 'Righteous' cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    

}

.paragrafosSecundarios {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ecd6c4;
}


#tituloSobre {

    font-family: 'Righteous' cursive;
    font-weight: 400;
    font-size: 16px;
    color: #fff2e7;
    

}


